$main-color: #1eacc7
$second-color: #ff5656
$third-color: #FFFFFF
=btn_hover
  &:hover
    background-image: none
    background-color: $main-color

*
  font-family: 'Roboto', sans-serif

header
  position: relative
  height: 50px

nav
  position: fixed
  width: 100%
  background: #212121
  height: 50px
  z-index: 5

.menu
  display: flex
  justify-content: space-between
  padding: 13px 70px
  margin: 0
  list-style-type: none

  &_item
    border-right: 2px dotted black
    padding-right: 60px

  &_link
    color: $third-color
    font-weight: 300
    font-size: 15px
    text-decoration-line: none

.subheader
  position: absolute
  width: 100%
  height: 87px
  top: 50px
  background-color: rgba(0, 0, 0, 0.6)

  &_logo
    display: block
    max-width: 100%
    margin-top: 16px

  &_official
    color: $third-color
    opacity: 0.5
    margin-top: 6px
    font-weight: 200
    font-size: 13px

  &_logo img
    width: 285px
    height: 32px

  &_call
    color: $third-color
    font-weight: 300
    margin-top: 19px
    font-size: 13px
    text-align: right

  &_phone
    display: block
    color: $third-color
    margin-top: 8px
    font-weight: 400
    font-size: 22px
    text-align: right
    text-transform: uppercase
    line-height: 12px
    text-decoration-line: none

  &_btn
    width: 172px
    height: 46px
    background: linear-gradient(0deg, $main-color 0%, #4CE2FF 100%)
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12)
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21)
    border: none
    border-radius: 4px
    color: $third-color
    margin-top: 19px
    font-weight: 400
    font-size: 14px
    text-transform: uppercase
    +btn_hover

.promo
  min-height: 800px
  background: url("../img/bg/main_bg.png") center (center / cover) no-repeat
  padding: 150px 0 135px 0

  &_header
    color: $third-color
    font-weight: 700
    font-size: 60px
    line-height: 60px
    text-align: center
    text-transform: uppercase
    margin: 0

  &_subheader
    color: $third-color
    font-weight: 700
    font-size: 36px
    line-height: 36px
    text-align: center
    text-transform: uppercase
    margin: 15px 0 0

  &_text
    color: $third-color
    font-weight: 400
    font-size: 18px
    line-height: 24px
    text-align: center
    margin-top: 25px

  &_btn
    display: block
    margin: 118px auto 0 auto
    width: 259px
    height: 63px
    background: linear-gradient(0deg, $main-color 0%, #4CE2FF 100%)
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12)
    border: none
    border-radius: 4px
    color: $third-color
    font-weight: 400
    font-size: 18px
    text-transform: uppercase
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21)
    +btn_hover

.reasons
  padding: 61px 0 65px 0

.label
  position: relative
  margin: 0 auto
  height: 24px
  width: 112px
  padding: 5px 12px
  background-color: #000000
  color: $third-color
  font-size: 11px
  font-weight: 300
  text-align: center
  text-transform: uppercase
  z-index: 2
  &_white
    background-color: $third-color
    color: #000

.subtitle
  position: relative
  margin-top: 19px
  color: #222222
  font-weight: 400
  font-size: 17px
  text-align: center
  z-index: 2
  &_white
    color: $third-color

.title
  position: relative
  color: #222222
  margin-top: 38px
  margin-bottom: 0
  font-weight: 700
  font-size: 38px
  line-height: 38px
  text-align: center
  text-transform: uppercase
  z-index: 2
  &_white
    color: $third-color

.reasons
  &_block
    display: flex
    justify-content: center
    align-items: center
    margin-top: 35px

  &_round
    display: flex
    justify-content: center
    align-items: center
    margin-right: 26px
    width: 113px
    height: 113px
    background-color: $main-color
    border-radius: 100%

    img
      max-width: 85px
      max-height: 73px

  &_descr
    width: 343px

    &_subtitle
      color: $main-color
      font-weight: 400
      font-size: 17px
      line-height: 21px

    &_text
      color: #202020
      font-size: 15px
      font-weight: 300
      line-height: 21px

.mobile
  min-height: 864px
  padding: 48px 0 79px 0
  background: url("../img/bg/mobile_app.png") center (center / cover) no-repeat
  .row
    margin-top: 32px
  &_item
    position: relative            // move plus to the middle
    width: 320px
    height: 280px
    margin: 0 auto 19px
    padding-top: 92px

    &_1
      background: url("../img/bg/mobile_screen_1.png") center (center / cover) no-repeat
    &_2
      background: url("../img/bg/mobile_screen_2.png") center (center / cover) no-repeat
    &_3
      background: url("../img/bg/mobile_screen_3.png") center (center / cover) no-repeat
    &_4
      background: url("../img/bg/mobile_screen_4.png") center (center / cover) no-repeat
    &_5
      background: url("../img/bg/mobile_screen_5.png") center (center / cover) no-repeat
    &_6
      background: url("../img/bg/mobile_screen_6.png") center (center / cover) no-repeat
    &_subtitle
      color: $third-color
      font-weight: 400
      font-size: 24px
      line-height: 31px
      text-align: center
      text-transform: uppercase
    &_plus
      position: absolute              // move plus to the middle
      display: flex
      justify-content: center
      align-items: center
      bottom: 35px
      left: 50%                        // move plus to the middle
      transform: translateX(-50%)      // move plus to the middle
      background: #000000
      width: 26px
      height: 26px
      margin: 0 auto
      border-radius: 100%
      cursor: pointer
      &:before
        content: ''      // Obligatory !!! Otherwise the pseudo elements will not be displayed
        display: block
        width: 14px
        height: 2px
        background-color: $main-color
      &:after
        position: absolute
        content: ''
        display: block
        width: 2px
        height: 14px
        left: 50%
        transform: translateX(-50%)
        background-color: $main-color
      img
        width: 14px
        height: 14px

.choice
  position: relative
  min-height: 895px
  padding: 57px 0 138px 0
  background: url('../img/bg/mobile_app.png') center (center / cover) no-repeat
  &_img
    position: relative
    display: block
    width: 759px
    height: 480px
    margin: 56px auto 0 auto
    z-index: 2
  .black
    position: absolute
    top: 0
    left: 0
    height: 499px
    width: 100%
    background-color: #070716
    z-index: 1
  &_descr
    text-align: center
    color: #222222
    font-size: 17px
    font-weight: 300
    line-height: 24px

